/*h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}
*/
body {
    background-color: #f9fffd;
}

.page-header {
    background-color: #c3ffef;
    margin-top: 0;
    padding: 40px 40px 40px 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 42pt;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.content {
    margin: 40px;
}

/*.new_gifts h1, .accepted_gifts h1 {
    text-align: center;
    vertical-align: middle;
} */

.gift-list-elem {
    border: 1px solid #e0fff5;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e0fff5;
}

.logged-user-info {
    text-align: right;
    vertical-align: middle;
    margin-right: 30px;
}
