{% extends 'wedding/base.html' %}

{% block content %}

    <div class="add_new_gift">
        <p><h4><a href="">DODAJ NOWY PREZENT</a></h4></p>
    </div>

    <div class="new_gifts">
        <p><h1>NOWE PROPOZYCJE GOŚCI</h1></p>

        {% for gift in new_gifts %}
            <div class="gift">
                <h4><a href="{% url 'gift_detail' id=gift.id %}"> {{ gift.name }} </a>  {{ gift.price }} zł <h4>
                <p> accepted: {{ gift.accepted }} </p>
            </div>
        {% endfor %}
    </div>

    <div class="accepted_gifts">

        <p><h1>LISTA PREZENTÓW</h1></p>

        {% for gift in accepted_gifts %}
            <div class="gift">
                <h4><a href="{% url 'gift_detail' id=gift.id %}"> {{ gift.name }} </a>  {{ gift.price }} zł <h4>
                <p> accepted: {{ gift.accepted }} </p>
            </div>

        {% endfor %}
    </div>

{% endblock content %}
