{% extends 'wedding/base.html' %}

{% block content %}

    <!-- To powinno pojsc do base.html i znajnować się gdzieś po prawej stronie (?) -->
    <div class="add_new_gift">
        <p><h4><a href="{% url 'gift_new' %}">DODAJ NOWY PREZENT</a></h4></p>
    </div>


    {% if user.is_superuser %}
    <div class="new_gifts">
        <p><h1>NOWE PROPOZYCJE GOŚCI</h1></p>
        <p>Wejdź w szczegóły aby zaakceptować lub odrzucić propozycję</p>

        {% for gift in new_gifts %}
            <div class="gift-list-elem">
                <div>
                    <div class="gift-list-elem-price"><h4>{{ gift.price }} zł </h4></div>
                    <div class="gift-list-elem-name"><h4><a href="{% url 'gift_detail' id=gift.id %}"> {{ gift.name }} </a></h4></div>
                </div>
                <div class="gift-list-elem-proposed-by">Zaproponowany przez: {{ gift.proposed_by }} </div>

            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="accepted_gifts">

        <p><h1>LISTA PREZENTÓW</h1></p>

        {% for gift in accepted_gifts %}
            <div class="gift-list-elem">
                <div>
                    <div class="gift-list-elem-price"><h4>{{ gift.price }} zł </h4></div>
                    <div class="gift-list-elem-name"><h4><a href="{% url 'gift_detail' id=gift.id %}"> {{ gift.name }} </a></h4></div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock content %}
